<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="background-color:LIGHTSALMON;">
<h1 style="text-align:center; font-size:200px">Joan A Ingari</h1>
<ul style="text-align:center; list-style-type:none; font-size:50px">
    <li><a href='https://fierce-dusk-18712.herokuapp.com/darts'>Question1</a></li>
    <li><a href='https://fierce-dusk-18712.herokuapp.com/loot_bank'>Question2</a></li>
    <li><a href='https://fierce-dusk-18712.herokuapp.com/ice_fire'>Question3</a></li>
    <li><a href='https://fierce-dusk-18712.herokuapp.com/jo_owes'>Question4</a></li>
</ul>
</body>
</html>